body.dark .boards_app{
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    transition: var(--tran-04);
}
.boards_app{
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    transition: var(--tran-04);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

}

.text{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.board{
    min-width: 220px;
    border: var(--border);
    padding: 20px 10px;
    border-radius: 12px;
    margin: 10px;
    background-color: var(--board-color);
    transition: var(--tran-04);
    position: relative;
}
.cover_div{
    height: 8vh;
    background-color: #ffffff3d;
    backdrop-filter: blur(4px);
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boards_app .app{
    min-height: 92vh;
    max-height: inherit;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
}
.boards_app .app .elements_boardfalse{
    max-height: 77vh; 
    overflow-y: auto;
}
.boards_app .app .elements_boardtrue{
    max-height: 80vh; 
    overflow-y: auto;
}
.add_item_link{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    min-width: 30px;
    border-radius: 6px;
    height: 30px;
    padding: 10px;
    background:  rgb(65, 125, 238);
}
.add_item_link:hover{
    background: rgb(0, 89, 255);
}

.add_item_div{
    margin-bottom: -5px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 220px;
}
.icon_close{
    color: var(--text-color);
}
.icon_close_div{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--tran-04);
    top: 0;
    right: 0;
    margin: 5px;
}
.icon_close_div:hover{
    background: var( --transparent-background);
}
.div_margin{
    transition: var(--tran-01);
    border-radius: 6px;
    width: 245px;
    margin: 5px 0;
    background-color: var(--background-btn);
    
}
.item_preview_pos{
    transition: var(--tran-01);
    border-radius: 6px;
    width: 245px;
    margin: 5px 0;
    background-color: var(--background-btn);
   
}
.item_2 {
    width: 245px;
    border: var(--border);
    border-radius: 6px;
    margin: 5px 0;
    cursor: pointer;
    min-height: 36px;
    transition: var(--tran-04);
    background-color: var(--board-color-items);
    display: flex;
    flex-direction: column;
    position: relative;
}
.item_2:hover{
    border: var(--item-color-hover);
}
.cover{
    display: block;
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    height: 40vh;
    z-index: 5;
}
.buttons_cover{
    opacity: 0;
    left: 70%;
    position: relative;
    display: flex;
    width: 92px;
    z-index: 2;
    bottom: 50px;
    background-color: var(--sidebar-color);
    border-radius: 6px;
    transition: var(--tran-02);
}
.button_cover1{
    display: block;
    padding: 3px;
    color: var(--text-color);
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    transition: var(--tran-04);
}
.button_cover1:hover{
    background-color: var(--primary-color);
    transition: var(--tran-04);
}
.cover_div:hover .buttons_cover{
    opacity: 1;
    transition: var(--tran-02);
}

.img_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 30px;
}
.icon_div:hover{
    background: var( --transparent-background);
}



.header_board{
    display: flex;
    width: 100%;
    margin-top: -10px;
    justify-content: space-between;
}
.board__title {
    border-radius: 7px;
    padding: 3px;
    margin-left: 2px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: var(--text-color);
    transition: var(--tran-02);
    white-space: nowrap;
}
.icon_dropitem_div{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-04);
    border-radius: 6px;
    height: 30px;
    margin-bottom: 5px;
}
.icon_drop{
    cursor: pointer;
    width: 30px;
    font-size: 20px;
    color: var(--text-color);
    transition: var(--tran-02);
    border-radius: 6px;
}
.icon_dropitem_div:hover{
    background: var(--primary-color);
    transition: var(--tran-04);
}
.new_item{
    height: 30px;
    width: 100%;
    display: flex;
    margin: 5px 0;
    margin-bottom: -10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.new_item:hover{
    background: var(--primary-color);
}

.icon_add{
    margin-right: 10px;
    color: var(--text-color);
    font-size: 18px;
}
.new_board{
    display: flex;
    width: 100%;
    min-width: 220px;
    border: var(--border);
    padding: 20px 10px;
    border-radius: 12px;
    margin: 10px;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    transition: var(--tran-04);
    opacity: 0.7;
    background-color: var(--board-color);
}
.new_board:hover{
    opacity: 1;
    transition: var(--tran-04);
    background: var(--primary-color);
}
.icon_add_board{
    margin-right: 10px;
    color: var(--text-color);
    font-size: 18px;
}

.new_board_div{
    min-width: 220px;
    border: var(--border);
    padding: 20px 10px;
    border-radius: 12px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--board-color);
}
.menu_board{
    position: relative;
}
.menu_board_detail{
    position: absolute;
    top: 35px;
    min-width: 200px;
    background: var(--create-page-color);
    border-radius: 6px;
    z-index: 20;
    box-shadow: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F;
}
.li_dropitem{
    margin: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    padding: 7px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.link:hover{
    background: var(--primary-color);
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    font-size: 16px;
    color: var(--text-color);
}
.text_dropitem{
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-02);
    white-space: nowrap;
}
.end{
    margin: 10px;
}
.emoji{
    position: absolute;
    z-index: 20;
}
.img_icon2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 30px;
    height: 30px;
}
.tags_header{
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}
.elementfalse .tags_item{
    cursor: pointer;
    max-height: 8px;
    margin: 2px;
    width: 35px;
    border-radius: 6px;
    padding: 0 3px 0 3px;
    overflow: hidden;
    transition: var(--tran-03);
}
.elementtrue .tags_item{
    cursor: pointer;
    max-height: 22px;
    max-width: 175px;
    margin: 2px;
    border-radius: 6px;
    padding: 1px 5px 1px 5px;
    overflow: hidden;
    transition: var(--tran-03);
}
.elementfalse .span_c_text{
    font-weight: 500;
    font-size: 12px;
    opacity: 0;
    
}
.elementtrue .span_c_text{
    font-weight: 500;
    font-size: 12px;
    opacity: 1;
    color: #36372f;
    
}
.div_icon_item{
    opacity: 0;
    position: absolute;
    right: 6px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--tran-04);
}

.item_2:hover .div_icon_item{
    opacity: 1;
    transition: var(--tran-04);
}
.icon_item{
    color: var(--text-color);
    font-size: 20px;
}
.div_icon_item:hover{
    background: var(--primary-color);
    transition: var(--tran-04);
}
.add_item_div_{
    margin: 10px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 220px;
}
.div_error{
    color: rgba(255, 0, 0, 0.65);
    font-size: 14px; 
    line-height: 1.6; 
    margin-top: 8px; 
    margin-bottom: 8px; 
    text-align: center;
}
.text_item{
    word-break: break-all !important; /* make sure containers don't override */
    display: inline-block !important;
    padding: 5px;
    width: 180px;
    border: 0;
    outline: 0;
    margin-left: -2px;
}
.sidebar_back{
    position: absolute;
    z-index: 0;
}

.dropitem_position_board{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element_position_change{
    background: var(--sidebar-color);
    border-radius: 6px;
    padding: 10px;
}
.div_change_postion{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
}
.header_div_modal_dialog{
    margin: -20px 0 0 -120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}
.header_icon_modal_dialog{
    margin-right: 20px;
    color: var(--text-color);
    font-size: 25px;
    height: 25px;
}
.header_text_modal_dialog{
    color: var(--text-color);
    font-size: 18px;
    width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.board_position_item_modal_dialog{
    position: relative;
    margin: 10px 0 0 -82px;
}
.button_link_board_modal_dialog{
    color: var(--text-color);
}
.tags_modal{
    position: relative;
    top:10px;
    right: 84px;
}
.tags_header_name{
    font-size: 12px;
    font-weight: 600;
    margin-left: 2px;
}
.tags_modal_dialog{
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    position: relative;
}
.tags_item_modal_dialog{
    display: flex;
    align-items: center;
    justify-self: center;
    cursor: pointer;
    height: 30px;
    margin: 2px;
    min-width: 70px;
    border-radius: 4px;
    padding: 0 3px 0 3px;
    filter: brightness(1)
}
.tag_text_modal_dialog{
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.tags_item_modal_dialog:hover{
    filter: brightness(0.85);
    transition: var(--tran-03);
}
.new_tag_modal_dialog{
    margin-top: 2px;
    margin-left: 2px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: var(--primary-color-light);
    transition: var(--tran-03);
    border-radius: 4px;
    filter: brightness(1);
    opacity: 0.6;
}
.new_tag_modal_dialog:hover{
    opacity: 1;
    
    transition: var(--tran-03);
}
.icon_new_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 30px;
    height: 30px;
}
.textarea_div_modal_dialog{
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    top: 25px;
    right: 120px;
    margin-bottom: 10px;
}
.input{
    height: 100%;
    width: 100%;
    padding: 8px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    
    background: var(--input_color);
    transition: var(--tran-05);
    color: var(--text-input);
}
.item_3{
    width: 245px;
    height: 45px;
    padding: 10px;
    border: var(--border);
    border-radius: 6px;
    margin: 5px 0;
    cursor: pointer;
    min-height: 36px;
    transition: var(--tran-04);
    background-color: var(--board-color-items);
    display: flex;
    align-items: center;
    color: var(--text-color);
}
.textarea_modal_dialog{
    height: 100%;
    width: 100%;
    padding: 8px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    color: var(--text-color);
    position: relative;
    top: 30px;
    right: 76px;
}
.text_textarea{
    color: var(--text-color);
    font-size: 16px;
    width: 700px;
    font-weight: 600;
}
.link_right_menu{
    padding: 5px;
    height: 100%;
    width: 170px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    background: var(--primary-color-light);
    transition: var(--tran-04);
    
}

.icon_link_right_menu{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    font-size: 16px;
}
.right_div_modal_dialog{
    position: absolute;
    right: 20px;
    top: 80px;
}
.li_right_menu{
    margin: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right_menu{
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
}
.position_change_modal_dialog{
    z-index: 5;
    position: absolute;
    box-shadow: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F;
    background: var(--create-page-color);
    border-radius: 6px;
    padding: 10px;
    margin-left: -60px;
}
.title_text_board{
    color: var(--text-color);
    width: 200px;
    white-space: nowrap;
    transition: var(--tran-02);
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.content_editable_text_board{
    color: var(--text-color);
    background-color: var(--board-color);
    height: 20px;
    width: 200px;
    font-weight: 600px;
    font-size: 14px;
    transition: var(--tran-02);
    border:0;
    outline:0;
    resize: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.select{
    max-width: 200px;
}
.investment{
    width: 304px;
    position: absolute;
    box-shadow: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F;
    background: var(--create-page-color);
    border-radius: 6px;
    padding: 10px;
    z-index: 10;
    transition: var(--tran-05);
}
.label_link{
    font-style: inherit;
    line-height: 1.33333;
    font-weight: 600;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 4px;
    color: var(--text-modal_dialog-item);
}
.div_dropitem_modal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.investment_modal{
    margin: 10px 0 0 5px;
}
.text_investment{
    color: var(--text-modal_dialog-item);
    margin-block: 0px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.003em;
    line-height: 16px;
}
.btn_modal{

    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    min-width: 30px;
    margin-top: 8px;
    border-radius: 3px;
    height: 35px;
    padding: 10px;
    color: var(--text-modal_dialog-item);
    background:  var(--background-btn);
    transition: var(--tran-04);
}
.btn_modal:hover{
    background:  var(--background-btn-hover);
}
.file_div{
    position: relative;
    top: 20px;
    right: 80px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.loader-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.469);
}
.img-item{
    width: 100%;
    background-size: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 140px;
    margin-bottom: -6px;
}
.img_div_{
    width: 100%;
    padding: 0;
}
.hr{
    padding: 0;
    margin: 0;
}
.main-info{
    padding: 10px;
}
.spinner {
    
    width: 50px;
    height: 50px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.elements_management{
    display: flex;
    align-items: center;
}
.files{
    display: flex;
    align-items: center;
    min-height: 80px;
    margin-bottom: 15px;
}
.info_file{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.img_file{
    background-color: var(--background-btn);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    
    width: 112px;
    z-index: 0;
}
.img_not_file{
    display: block;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.name_file{
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-modal_dialog-item);
}
.time_file{
    color: var(--text-modal_dialog-item);
}
.link_file{
    color: var(--text-modal_dialog-item);
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_file{
    color: var(--text-modal_dialog-item);
    font-weight: 500;
    font-size: 16px;
    margin-right: 2px;
}


.input_file{
    height: 100%;
    width: 100%;
    padding: 8px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0 10px 0;
    background: var(--input_color);
    transition: var(--tran-05);
    color: var(--text-input);
}
.date_picker{
    position: absolute;
    box-shadow: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F;
    background: var(--create-page-color);
    border-radius: 6px;
    padding: 10px;
    z-index: 5;
    margin-left: -40px;
}
.div_add_time{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
}
.save_time{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    min-width: 30px;
    border-radius: 6px;
    height: 30px;
    padding: 10px;
    background:  rgb(65, 125, 238);
}
.bottom_info_item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    float: left;
    column-gap: 4px;
    max-width: 100%;
}
.clock_datepicker{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 25px;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px;
    margin: 5px 5px 0 0;
}
.comment_bottom{
    margin: 5px 5px 0 0;height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.length{
    color: var(--text-color);
    font-size: 12px;
    margin-left: 2px;
}
.clock_datepicker:hover{
    filter: brightness(0.8);
    
}
.clock_date{
    color: var(--text-color-black);
    margin-bottom: 1px;
    font-size: 14px;
}
.clock_date_color_text{
    color: var(--text-color);
    margin-bottom: 1px;
    font-size: 14px;
}
.datepicker_date{
    color: var(--text-color-black);
    font-size: 12px;
    margin-left: 3px;
}
.datepicker_date_color_text{
    color: var(--text-color);
    font-size: 12px;
    margin-left: 3px;
}
.comment_icon,
.members_icon{
    color: var(--text-color);
    font-size: 16px;
}
.input_datepicker{
    display: flex;
    align-items: center;
    justify-self: center;
}
.checkbox{
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 10px;
    margin-right: 10px;
}

.span_text_datepicker{
    font-size: 12px;
    font-weight: 600;
    margin-left: -3px;
    color: var(--text-modal_dialog-item);
}
.div_dropitem_modal{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_dropitem_modal{
    color: var(--text-modal_dialog-item);
    font-size: 14px;
    font-weight: 600;
}
.tag_open{
    position: absolute;
    box-shadow: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F;
    background: var(--create-page-color);
    border-radius: 6px;
    padding: 10px;
    margin-left: -40px;
}
.tags_div{
    margin: 10px 0 0 5px;
}
.tags_editing{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tag_div_edit{
    display: flex;
    align-items: center;
    justify-self: center;
    cursor: pointer;
    height: 32px;
    margin: 5px;
    min-width: 200px;
    max-width: 200px;
    border-radius: 4px;
    padding: 0 10px 0 10px;
    filter: brightness(1);
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.tag_div_edit:hover{
    filter: brightness(0.8);
}
.link_tag_edit{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 33px;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--tran-04);
}
.link_tag_edit:hover{
    background: var( --transparent-background);
}
.icon_tag_edit{
    color: var(--icon-color);
}
.tag_choose{
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    margin-bottom: 8px;
}
.color_tag{
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    filter: brightness(1);
}
.color_tag:hover{
    filter: brightness(0.8);
}
.input_tag{
    height: 100%;
    width: 250px;
    padding: 8px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0 10px 0;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    color: var(--text-color);
}
.icon_back{
    color: var(--text-color);
}
.icon_back_div{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--tran-04);
    top: 0;
    left: 0;
    margin: 5px;
}
.icon_back_div:hover{
    background: var( --transparent-background);
}
.div_tag_preview{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}
.div_preview{
    margin: 10px -10px;
    padding: 20px;
    background-color: var(--preview-color)
}
.save_tag{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 95px;
    border-radius: 6px;
    height: 30px;
    padding: 10px;
    margin-top: 5px;
    background:  rgb(65, 125, 238);
}
.btn_new_tag{
    height: 30px;
    width: 270px;
    display: flex;
    margin: 5px 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.btn_new_tag:hover{
    background: var(--primary-color);
}   
.buttons_tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete_tag{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 80px;
    border-radius: 6px;
    height: 30px;
    padding: 10px;
    margin-top: 5px;
    background:  var(--delete-color);
}
.text_delete{
    color: var(--text-modal_dialog-item);
    font-size: 14px;
    white-space: nowrap;
    font-weight: 500;
}
.delete_tag_full{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    border-radius: 6px;
    height: 30px;
    padding: 10px;
    margin-top: 5px;
    background:  var(--delete-color);
}
.icon_close_div_modal{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--tran-04);
    bottom: 0;
    right: 0;
    margin: 0 20px 10px 0;
}
.icon_close_div_modal_add_new_board{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--tran-04);
    margin-left: 30px;
}
.icon_close_div_modal:hover{
    background: var( --transparent-background);
}
.icon_close_div_modal_add_new_board:hover{
    background: var( --transparent-background);
}
.li_dialog{
    margin: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_dialog{
    padding: 5px;
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    background: var(--primary-color-light);
    transition: var(--tran-04);
    filter: brightness(1);
}
.link_dialog:hover{
    filter: brightness(0.8);
}
.btn_save{
    position: absolute;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 95px;
    border-radius: 6px;
    height: 30px;
    padding: 10px;
    margin-top: 5px;
    background:  rgb(65, 125, 238);
    filter: brightness(1);
}
.btn_save:hover{
    filter: brightness(0.9);
}
.icon_close_div_new_bard{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--tran-04);
    right: -30px;
    margin: 0 20px 0 0px;
}
.icon_close_div_new_bard:hover{
    background: var( --transparent-background);
}
.text_preview{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contentEditable{
    color: var(--text-color);
    transition: var(--tran-04);
    background-color: var(--board-color-items);
    border:0;
    outline:0;
    width: 100%;
    font-weight: 500;
    box-sizing: border-box;
    resize: none;
    font-size: 14px;
    resize: none;
    word-wrap: break-word;
    padding: 7px 22px 5px 3px;
}
.absolute{
    position: absolute;
    right: 30px;
    top: 200px;
}
.icon_div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04); 
    margin: 10px;
}
.navbar_page{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.name{
    background: transparent;
    color: var(--dynamic-text);
    border: 0;
    outline: 0;
    width: 250px;
    font-weight: 500;
    font-size: 26px;
    transition: var(--tran-05);
    resize: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.border_left{
    border-left: 1px solid var(--dynamic-text-transparent);
    height: 16px;
    margin-right: 15px;
    display: inherit;
}
.icon_star{
    width: 30px;
    height: 20px;
    transition: var(--tran-04);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--dynamic-text);
}
.icon_bar{
    width: 30px;
    height: 30px;
    transition: var(--tran-04);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--dynamic-text);
}
.icon_min{
    margin: 5px;
    width: 20px;
    height: 20px;
    transition: var(--tran-04);
}
.icon_form{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-04);
    border-radius: 6px;
    height: 35px;
    width: 35px;
}
.icon_form:hover{
    background: rgba(0, 0, 0, 0.2);
    transition: var(--tran-04);
}
.button_link_share{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    min-width: 30px;
    border-radius: 6px;
    height: 35px;
    padding: 10px;
    background:  rgba(0, 0, 0, 0.5);
    transition: var(--tran-04);
}
.button_link_share:hover{
    background: rgba(0, 0, 0, 0.7);
}
.end_info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_user {
    cursor: pointer;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px; /* Используйте нужное значение */
    filter: brightness(100%);
    transition: var(--tran-04);
}
.image_user:hover {
    filter: brightness(70%);
}
.user_datails{
    position: absolute;
    top: 50px;
    right: 10px;
    min-width: 300px;
    background: var(--create-page-color);
    border-radius: 6px;
    z-index: 20;
    transition: var(--tran-04);
    box-shadow: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F;
}
.image_user_datails {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px; 
    filter: brightness(100%);
    transition: var(--tran-04);
}
.cover_user_datails{
    background-color: var(--background-user-modal);
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 6px 6px 0 0;
    justify-content: center;
}
.user_info{
    position: absolute;
    top: 35px;
    left: 110px;
}
.user_name{
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--text_user_info);
}
.user_email{
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--text_user_info);
}
.main_user_datails{
    margin-top: 45px;
}
.user_li_info{
    margin: 10px;
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
}
.link_user_info{
    padding: 7px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.link_user_info:hover{
    background: var(--primary-color);
}
.text_user_info{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-02);
    white-space: nowrap;
}
.icon_close_user_info{
    color: var(--text_user_info);
}
.div_input{
    width: 450px;
}
.home{
    margin: 40px 16px 0;
    max-width: 80%;
    min-width: 288px;
    width: 100%;
}

.boards-header{
    display: flex;
    padding: 0 0 11px;
    position: relative;
    align-items: center;
}
.boards-list{
    width: 100%;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.boards-list-item{
    width: 23.5%;
    margin: 0 2% 2% 0;
    padding: 0;
    transform: translate(0);
    list-style: none;
}
.icons_header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    font-size: 24px;
    color: var(--dynamic-text-create-page);
    
}
.text_header{
    color: var(--dynamic-text-create-page);
    transition: var(--tran-04);
}
.boards_link-new-page{
    background-position: 50%;
    background-size: cover;
    color: #fff;
    line-height: 20px;
    padding: 8px;
    position: relative;
    text-decoration: none;
    width: 175px;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: var(--background-btn);
    
}

.board-add-{
    position: absolute;
    left: 0;
    margin-left: 180px;
    margin-top: -150px;
    cursor: auto;
}
.boards_link{
    cursor: pointer;
    background-color: var(--background-btn);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    line-height: 20px;
    padding: 8px;
    position: relative;
    text-decoration: none;
    width: 175px;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.boards_link:hover{
    filter: brightness(0.8);  
}
.board-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 80px;
    flex-direction: column;
}
.board-details-new-page{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: center;
    color: var(--dynamic-text-create-page);
    transition: var(--tran-04);
    
}
.board-title{
    display: inline-block;
    flex: 0 0 auto;
    font-size: 16px;
    font-weight: 700;
    max-height: 40px;
    overflow: hidden;
    width: 100%;
    word-wrap: break-word;
}
.board-description{
    display: flex;
    align-items: center;
}
.star-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: var(--tran-02);
    color: white;
}
.icon_favorite{
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-right: 20px;
}
.sidebar.close .star-board{
    visibility: hidden;
}
.star-board:hover{
    transform: scale(1.2);
    transition: var(--tran-02);
}
.boards-center{
    display: flex;
    align-items: center;
    margin-right: 120px;
}
.members_open{
    position: absolute;
    box-shadow: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F;
    background: var(--create-page-color);
    border-radius: 6px;
    padding: 10px;
    margin-left: -40px;
    z-index: 10;
}
.title_members{
    display: flex;
    align-items: center;
}
.text_members{
    color: var(--text-modal_dialog-item);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 16px;
}
.btn_members{
    padding: 4px 8px 4px 4px;
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    transition: var(--tran-04);
    background-color: transparent;
    filter: brightness(1);
}
.btn_members:hover{
    background: var( --transparent-background);
}
.image_members {
    cursor: pointer;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px; /* Используйте нужное значение */
    filter: brightness(100%);
    transition: var(--tran-04);
}
.li_members{
    margin-top: 4px;
    list-style: none;
    
}
.image_span_members{
    margin: 5px;
}
.span_members{
    color: var(--text-input);
    flex: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
}
.image_members_ {
    cursor: pointer;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-04);
    
}
.grip_members{
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 4px;
    
    margin-top: 5px;
}
